<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Family Tree" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%# <script src="https://cdn.tailwindcss.com"></script> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", rel: "stylesheet" %>
  </head>

  <body class="bg-gray-100 font-sans">
    <!-- Header -->
    <header class="bg-blue-600 text-white px-6 py-4 shadow-md">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between space-y-3 md:space-y-0">
        <div class="text-2xl font-bold">Family Tree</div>
      </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto px-5 mt-6">
      <%= yield %>
    </main>
  </body>
</html>
